In [ ]:
class vehicel:
    def __init__(self,r,p,c):
        self.regplate=r
        self.price=p
        self.colour=c
        
class car(vehicel):
    def __init__(self,t,n,m):
        self.type=t
        self.numberpassanger=n
        self.maxspeed=m
        super().__init__(r,p,c)
        
class track(vehicel):
    def __init__(self,n,l):
        self.numberaxle=a
        self.laodcapacity=l
        super().__init__(r,p,c)
c=car("fortuner",7,200,10000)
t=track("track",56000,)
print("car have",c.type,c.passenger,c.maxspeed)
print("track have",c.numberaxles,c.loadcapacity)

In [1]:
class Employee:
    def __init__(self, name, emp_id, salary, department):
        self.name = name
        self.id = emp_id
        self.salary = salary
        self.department = department

    def calculate_salary(self, salary, hours_worked):
        overtime = 0
        if hours_worked > 50:
            overtime = hours_worked - 50
        self.salary = self.salary + (overtime * (self.salary / 50))

    def assign_department(self, emp_department):
        self.department = emp_department

    def print_employee_details(self):
        print("\nName: ", self.name)
        print("ID: ", self.id)
        print("Salary: ", self.salary)
        print("Department: ", self.department)
        print("----------------------")


employee1 = Employee("ADAMS", "E7876", 50000, "ACCOUNTING")
employee2 = Employee("JONES", "E7499", 45000, "RESEARCH")

print("Original Employee Details:")
employee1.print_employee_details()
employee2.print_employee_details()


employee1.assign_department("OPERATIONS")
employee2.assign_department("SALES")

# Now calculate the overtime of the employees who are eligible:
employee1.calculate_salary(45000, 52)
employee2.calculate_salary(45000, 60)

print("Updated Employee Details:")
employee1.print_employee_details()
employee2.print_employee_details()

Original Employee Details:

Name:  ADAMS
ID:  E7876
Salary:  50000
Department:  ACCOUNTING
----------------------

Name:  JONES
ID:  E7499
Salary:  45000
Department:  RESEARCH
----------------------
Updated Employee Details:

Name:  ADAMS
ID:  E7876
Salary:  52000.0
Department:  OPERATIONS
----------------------

Name:  JONES
ID:  E7499
Salary:  54000.0
Department:  SALES
----------------------

In [2]:
for i in range(0,10):
    for j in range(0,i+-1):
         print("*",end=" ")
print()

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [28]:
for y in range (0,5):
    for x in range(0,y+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
for y in range (1,5):
    for x in range(1,5+1):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
for y in range(0,2):
    for x in range(0,y+1):
        print("*",end=" ")
        print()

*
*
*

In [7]:
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i-1))

    *
   ***
  *****
 *******
*********

In [1]:
n = 5

digit = n

for k in range(n, 0, -1):

    for m in range(0, k):

        print(digit, end=' ')

    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [12]:
n = 5
 
for n in range(1, n+1):

    for m in range(1, n + 1):

        print(m, end=" ")

    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
for i in range(0, n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [34]:
# Upper Triangles
r = 5
for i in range(1, r+1):
    print("*"*i, end="")
    print(" "*(r-i)*2, end="")
    print("*"*i)

*        *
**      **
***    ***
****  ****
**********

In [33]:
# Lower Triangles
for i in range(r,0,-1):
    print("*"*i, end="")
    print(" "*(r-i)*2, end="")
    print("*"*i)

**********
****  ****
***    ***
**      **
*        *

In [35]:
def butterfly_pattern(rows):
    top_half = [
        f"{'*' * (i + 1)}{' ' * (2 * (rows - i - 1))}{'*' * (i + 1)}"
        for i in range(rows)
    ]
    bottom_half = top_half[::-1][1:]  
    pattern = top_half + bottom_half
    print("\n".join(pattern))
butterfly_pattern(5)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *